@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --negro: #0a0a0a;
  --naranja: #ffbc03;
  --rosa: #f2b1d7;
  --verde: #d0ea56;
  --blanco: #ffffff;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 600;
  --font-bold: 900;
}

article {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  color: var(--blanco);
  font-weight: var(--font-regular);
}

p {
    font-size: 14px;
}

.formulario {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 24px;
    border: solid 2px var(--blanco);
    margin-bottom: 20px;
}

.titulo_descripcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.formFechas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.titulo_descripcion input {
  width: 100%;
  height: 30px;
  border-radius: 12px
}

.formFechas input {
  height: 30px;
  width: 300px;
  border-radius: 12px;
  padding: 2px 8px;
}

.botonesLista {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 40px;
}

.removeList,
.resetTareas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 8px 8px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: var(--blanco);
    border: solid 2px var(--blanco);
    color: var(--negro);
    font-size: 16px;
    font-weight: var(--font-medium);
    transition: background-color 0.3s; 
}
